/* ContactUs.css */

.contact-container {
    max-width: 600px;
    margin: 70px auto;
    padding: 80px;
    border: solid 1px black;
    border-radius: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .contact-form textarea{
    height: 10rem;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: lightcoral;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  